@font-face {
    font-family: 'black_jackregular';
    src: url('../fonts/blackjack-webfont.woff2') format('woff2'),
         url('../fonts/blackjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: 'robotoregular';
	font-size: 16px;
}

h3 {
	color: #545454;
	font-size: 40px;
	font-weight: normal;
	font-family: 'robotolight';
	margin: 0;
}

h1 {
	font-weight: 500;
	color: #fff;
	font-size: 70px;
	margin: 0;
}

blockquote {
	color: #868686;
	font-style: italic;
	border-left: 5px solid #37d6f2;
	padding-left: 20px;
	margin: 0;
}

p {
	color: #7e7e7e;
	margin: 0px;
	padding-bottom: 40px;
}

.special-font {
	font-family: 'black_jackregular';
}

.p--big {
	font-size: 35px;
	color: #fff;
	font-family: 'robotolight';
}


.top-pannel {
	position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    border-top: 8px solid #fff;
}

.pannel-elements {
	width: 940px;
    margin: 0 auto;
    display: table;
}

.logo-wrapper {
	display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.nav-wrapper{
	display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.logo,
.nav {
	display: inline-block;
}

.logo {
	margin-top: -10px;
	height: 100px;
	box-shadow: 
		0 4px #0da9e5,
		15px 15px #26b0e6;
}

.section {
	width: 100%;
	height: 650px;
	position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;

	&__inner {
		position: relative;
		max-width: 940px;
		margin: 0 auto;
		height: inherit;
	}

	&__content {
		position: absolute;
		z-index: 1;
	}

	&__title {
		padding-bottom: 50px;
	}

	&__control {
		display: inline-table;
	}

	&__decoration {
		position: absolute;
	}
}

.section--slide1 {
	background-color: #4eacdd;
	background-image: url('/img/bg1.png');
	background-repeat: repeat;
	
	.section {

		&__content {
			top: 165px;
			right: 0;
			text-align: right;
		}

		&__text {
			margin-top: -19px;
			letter-spacing: 0.3px;
		}

		&__control {
			margin-top: 13px;
			margin-right: 5px;
		}

		&__decoration {
			top: 385px;
			left: 70px;
		}
	}
}

.section--slide2 {
	background-color: #f4f4f4;
	top: 650px;
	
	.section {

		&__content {
			top: 135px;
			/*width: 545px;*/
			text-align: left;
		}

		&__title {
			padding: 0;
		}

		&__text {
			line-height: 25px;
			/*letter-spacing: 0.5px;*/
			margin-top: 48px;
			width: 545px;
		}

		&__control {
			margin-top: 72px;
		}

		&__decoration {
			top: 152px;
			right: 0px;
		}
	}
}

.section--slide3 {
	background-color: #fff;
	top: 1300px;
	
	.section {

		&__content {
			top: 105px;
			right: 0;
			text-align: left;
		}

		&__title {
			padding: 0;
		}

		&__text {
			width: 385px;
			line-height: 25px;
			margin-top: 48px;
		}

		&__control {
			margin-top: 25px;
		}

		&__decoration {
			top: 286px;
			left: 0px;
		}
	}
}

.section--slide4 {
	height: 325px;
	background-color: #0fad8c;
	top: 1950px;
	background-image: url('/img/bg4.png');
	background-repeat: repeat;

	h3 {
		color: #fff;
		font-family: 'robotoregular';
		padding-bottom: 40px;
	}

	.section {

		&__content {
			width: 100%;
			top: 100px;
			text-align: center;
		}
	}
}

.section--slide5 {
	background-color: #f4f4f4;
	top: 2275px;

	.section {

		&__content {
			width: 100%;
			top: 240px;
			text-align: center;
		}

		&__control {
			width: 330px;

			.btn:not(:first-child) {
				margin-left: 35px;
			}

			a:hover {
				border-color: #4eacdd;

				.btn__inner {
					color: #4eacdd;
				}
			}
		}

		&__text {
			margin-top: 67px;
			font-family: 'robotomedium';
			font-style: italic;
			
			label {
				color: #545454;
			}

			input {
				font-family: inherit;
				font-style: inherit;
				font-size: 14px;
				width: 198px;
				height: 42px;
				margin-left: 25px;
				border-radius: 10px;
				color: #d3d3d3;
				border: none;
				padding-left: 22px;
				background-image: url('/img/icon_email.png');
				background-repeat: no-repeat;
				background-position: 185px 15px;
			}

			label::after {
				position: relative;
				left: -52px;
				height: 14px;
				content: "";
				border-left: 1px solid #d3d3d3;
			}
		}
	}
}

.section--slide6 {
	height: 102px;
	top: 2925px;
	background: #fff;

	.section {

		&__content {
			width: 100%;
			text-align: center;
		}

		&__text {
			font-size: 12px;
			margin-top: 54px;

			p {
				color: #545454;
			}

			a {
				text-decoration: none;
				color: #4eacdd;
			}

			a:hover {
				text-decoration: underline;
			}
		}

		&__control {
			width: 200px;
		}
	}
}



.nav-menu {
	position: absolute;
	top: 3027px;
	background-color: #f3787a;
	/*opacity: 0.9;*/

	.section {

		&__content {
			width: 100%;
			top: 204px;
			text-align: center;
		}

		&__text {
			position: relative;
			width: 192px;
			margin: 0 auto;
			font-family: 'robotomedium';
			font-size: 18px;
			font-style: italic;
			text-align: left;

			a {
				display: inline-block;
				margin-left: 22px;
				text-decoration: none;
				color: #fff;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}

.fa {
	display: inline-block;
	position: relative;
}

.btn {
	display: inline-table;
	white-space: nowrap;
	height: 55px;
	width: 170px;
	border: 2px solid #fff;
	border-radius: 3px 3px;
	text-decoration: none;

	&__inner {
		display: table-cell;
		text-align: center;
		color: #fff;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 15px;
	}

	&__text {
		&:hover {
		border-bottom: 1px solid #fff;
		}

		+ .fa {
			margin-left: 14px;
		}
	}

	&--nav-icons {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 14px;

		.btn__inner {
			color: #4eacdd;
		}
	}

	&--social-icons {
		height: 50px;
		width: 50px;
		border: 3px solid #545454;
		border-radius: 50%;

		.btn__inner {
			color: #545454;
		}
	}
}

.btn--type-2 {
	color: #0acca2;
	border-color: #0acca2;
	text-decoration: none;

	.btn__inner {
		color: #0acca2;
	}
}

.btn--type-3 {
	color: #d60e72;
	border-color: #d60e72;
	text-decoration: none;
	width: 225px;

	.btn__inner {
		color: #d60e72;
	}
}

.btn--type-4 {
	text-decoration: none;
	width: 225px;
}

.btn--type-2:hover,
.btn--type-3:hover {
	text-decoration: underline;
}