body {
	font-family: 'robotoregular';
	font-size: 16px;
}

h3 {
	color: #545454;
	font-size: 40px;
	font-weight: normal;
	font-family: 'robotolight';
	margin: 0;
}

h1 {
	font-weight: 500;
	color: #fff;
	font-size: 70px;
	margin: 0;
}

blockquote {
	color: #868686;
	font-style: italic;
	border-left: 5px solid #37d6f2;
	padding-left: 20px;
	margin: 0;
}

p {
	color: #7e7e7e;
	margin: 0px;
	padding-bottom: 40px;
}

.special-font {
	font-family: 'black_jackregular';
}

.p--big {
	font-size: 35px;
	color: #fff;
	font-family: 'robotolight';
}

.section {
	width: 100%;
	height: 650px;
	position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;

	&__inner {
		position: relative;
		max-width: 940px;
		margin: 0 auto;
		height: inherit;
	}

	&__content {
		position: absolute;
		z-index: 1;
	}

	&__title {
		padding-bottom: 50px;
	}

	&__control {
		display: inline-table;
	}

	&__decoration {
		position: absolute;
	}
}


.nav-menu {
	position: absolute;
	top: 3027px;
	background-color: #f3787a;
	/*opacity: 0.9;*/

	.section {

		&__content {
			width: 100%;
			top: 204px;
			text-align: center;
		}

		&__text {
			position: relative;
			width: 192px;
			margin: 0 auto;
			font-family: 'robotomedium';
			font-size: 18px;
			font-style: italic;
			text-align: left;

			a {
				display: inline-block;
				margin-left: 22px;
				text-decoration: none;
				color: #fff;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}

.fa {
	display: inline-block;
	position: relative;
}

.btn {
	display: inline-table;
	white-space: nowrap;
	height: 55px;
	width: 170px;
	border: 2px solid #fff;
	border-radius: 3px 3px;
	text-decoration: none;

	&__inner {
		display: table-cell;
		text-align: center;
		color: #fff;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 15px;
	}

	&__text {
		&:hover {
		border-bottom: 1px solid #fff;
		}

		+ .fa {
			margin-left: 14px;
		}
	}

	&--nav-icons {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 14px;

		.btn__inner {
			color: #4eacdd;
		}
	}

	&--social-icons {
		height: 50px;
		width: 50px;
		border: 3px solid #545454;
		border-radius: 50%;

		.btn__inner {
			color: #545454;
		}
	}
}

.btn--type-2 {
	color: #0acca2;
	border-color: #0acca2;
	text-decoration: none;

	.btn__inner {
		color: #0acca2;
	}
}

.btn--type-3 {
	color: #d60e72;
	border-color: #d60e72;
	text-decoration: none;
	width: 225px;

	.btn__inner {
		color: #d60e72;
	}
}

.btn--type-4 {
	text-decoration: none;
	width: 225px;
}

.btn--type-2:hover,
.btn--type-3:hover {
	text-decoration: underline;
}